body {
    background: #A7C6ED;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2F0FA, #A7C6ED, #6FA3E0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2F0FA, #A7C6ED, #6FA3E0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Titulo{
    font-size: 1.8rem;
    font-family: 'Roboto',sans-serif;
}