<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/empleado">
    <img src="assets/img/logo.png" height="50" class="d-inline-block align-top" alt="Logo">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <a class="btn nav-link text-dark" href="/calendario">Calendario</a>
      </li>
      <li class="nav-item">
        <a class="btn nav-link text-dark" aria-current="page" href="/empleado">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="btn nav-link text-dark" href="/usuario">Yo</a>
      </li>
      <!-- Logout button aligned to the right -->
      <li class="nav-item ms-auto">
        <a class="btn btn-danger" href="#" (click)="onClickLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>



<div class="container mt-4">
  <h2>Actividades Asignadas</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
        <th>Estatus</th>
        <th>Acciones</th> <!-- Columna para acciones -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let actividad of actividades">
        <td>{{ actividad.title }}</td>
        <td>{{ actividad.description }}</td>
        <td>{{ actividad.startDate | date:'short' }}</td>
        <td>{{ actividad.endDate | date:'short' }}</td>
        <td>{{ actividad.status }}</td> <!-- Mostrar el estatus -->
        <td>
          <button 
            class="btn btn-primary"
            (click)="actualizarEstatus(actividad)">
            Actualizar Estatus
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="mensaje" class="alert alert-danger">
    {{ mensaje }}
  </div>
</div>

  