<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/empleado">
    <img src="assets/img/logo.png" height="50" class="d-inline-block align-top" alt="Logo">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <a class="btn nav-link text-dark" href="/calendario">Calendario</a>
      </li>
      <li class="nav-item">
        <a class="btn nav-link text-dark" aria-current="page" href="/empleado">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="btn nav-link text-dark" href="/usuario">Yo</a>
      </li>
    </ul>
  </div>
</nav>


<div class="row">
  <div class="col-md-4">
    <div class="btn-group">
      <button class="btn btn-primary" (click)="setView(CalendarView.Month)">Mes</button>
      <button class="btn btn-primary" (click)="setView(CalendarView.Week)">Semana</button>
      <button class="btn btn-primary" (click)="setView(CalendarView.Day)">Día</button>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <h3>{{ viewDate | date:'MMMM y' }}</h3>
  </div>
  <div class="col-md-4 text-right">
    <div class="btn-group">
      <button class="btn btn-primary" (click)="decrementDate()">Anterior</button>
      <button class="btn btn-primary" (click)="today()">Hoy</button>
      <button class="btn btn-primary" (click)="incrementDate()">Siguiente</button>
    </div>
  </div>
</div>
<br/>
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    [refresh]="refresh">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh">
  </mwl-calendar-day-view>
</div>