<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/empleado">
    <img src="assets/img/logo.png" height="50" class="d-inline-block align-top" alt="Logo">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <a class="btn nav-link text-dark" href="/calendario">Calendario</a>
      </li>
      <li class="nav-item">
        <a class="btn nav-link text-dark" aria-current="page" href="/empleado">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="btn nav-link text-dark" href="/usuario">Yo</a>
      </li>
    </ul>
  </div>
</nav>

  
  <div class="container mt-4 fade-in-up">
    <h1>Bienvenido, {{ usuarioActual?.nombre }}</h1>
    <div *ngIf="usuarioActual; else cargando">
      <h3 class="mb-4">Información del Usuario</h3>
      <ul class="list-group user-info">
        <li class="list-group-item">
          <strong>Nombre completo:</strong> <span>{{ usuarioActual.nombre }} {{ usuarioActual.apellidos }}</span>
        </li>
        <li class="list-group-item">
          <strong>Email:</strong> <span>{{ usuarioActual.email }}</span>
        </li>
        <li class="list-group-item">
          <strong>Teléfono:</strong> <span>{{ usuarioActual.telefono }}</span>
        </li>
        <li class="list-group-item">
          <strong>Departamento:</strong> <span>{{ usuarioActual.departamento }}</span>
        </li>
        <li class="list-group-item">
          <strong>Ubicación:</strong> <span>{{ usuarioActual.ubicacion }}</span>
        </li>
        <li class="list-group-item">
          <strong>Rol:</strong> <span>{{ usuarioActual.rol }}</span>
        </li>
      </ul>
    </div>
  </div>
  
    
      <ng-template #cargando>
        <p>Cargando datos del usuario...</p>
      </ng-template>
  