<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/empleado">
    <img src="assets/img/logo.png" height="50" class="d-inline-block align-top" alt="Logo">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <a class="btn btn-success nav-link text-dark" href="/calendario">Calendario</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-success nav-link text-dark" aria-current="page" href="/empleado">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-success nav-link text-dark" href="/usuario">Yo</a>
      </li>
      <!-- Logout button aligned to the right -->
      <li class="nav-item ms-auto">
        <a class="btn btn-danger" href="#" (click)="onClickLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="container mt-4">
    <h1>Bienvenido, {{ usuarioActual?.nombre }}</h1>
  
    <div *ngIf="usuarioActual; else cargando">
      <h3>Información del Usuario</h3>
      <ul class="list-group">
        <li class="list-group-item">
            <strong>Nombre completo:</strong> {{ usuarioActual.nombre }} {{ usuarioActual.apellidos }}
        </li>
        <li class="list-group-item">
          <strong>Email:</strong> {{ usuarioActual.email }}
        </li>
        <li class="list-group-item">
            <strong>Telefono:</strong> {{ usuarioActual.telefono }}
          </li>
          <li class="list-group-item">
            <strong>Departamento:</strong> {{ usuarioActual.departamento }}
          </li>
          <li class="list-group-item">
            <strong>Ubicacion:</strong> {{ usuarioActual.ubicacion }}
          </li>
        <li class="list-group-item">
          <strong>Rol:</strong> {{ usuarioActual.rol }}
        </li>
        <!-- Agrega más campos según los datos que tengas en el usuarioActual -->
      </ul>
    </div>
  
    <ng-template #cargando>
      <p>Cargando datos del usuario...</p>
    </ng-template>
  